
body {
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.web_padding {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.button-radius {
    border: 1px solid #FCC862;
    border-radius: 14px;
    width: 500px;
}

.Bee-Polygon img {
    position: absolute;
    width: 1080px;
    height: 1080px;
    z-index: -1;
    left: 896px;
    top: -80px;
    text-align: center;
}

.Small-Card {
    border-radius: 14px;
    min-width: 325px;
    min-height: 380px;
}

.Small-Card img {
    border-radius: 14px 14px 0px 0px;
    width: 325px;
    height: 215px;
    object-fit: fill;
}

.Small-Card-Recomendation {
    border-radius: 14px;
    min-width: 325px;
    min-height: 300px;
}


.Small-Card-Recomendation img {
    border-radius: 14px 14px 0px 0px;
    width: 325px;
    height: 215px;
    object-fit: fill;
}

.buttons {
    padding: 14px;
    background-color: #FCC862;
    border-radius: 14px;
    border: 1px solid black;
    font-weight: 500;
}

.container_title {
    display: grid;
    grid-template-columns: auto max-content auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}

.line_title {
    height: 6px;
    background-color: #FCC862;
}

.line_title:first-child {
    width: 50px;
}

.line_title:last-child {
    width: 50px;
}


.text {
    white-space: nowrap;
    padding: 0 0px;
}



@media screen and (max-width: 1380px) {
    .Bee-Polygon img {
        isolation: auto;
        position: absolute;
        width: 800px;
        height: 700px;
        left: 650px;
        top: 80px;
        text-align: center;
    }
}
