
.container_recomendation {
    display: grid;
    grid-template-columns: auto max-content auto;
    align-items: center;
    justify-items: start;
    align-content: center;
    justify-content: start;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}

.line {
    height: 6px;
    background-color: #FCC862;
}

.line:first-child {
    width: 50px;
}

.line:last-child {
    width: 50px;
}

.text {
    white-space: nowrap;
    padding: 0 0px;
}

