{% extends "main.html" %}
{% load static %}
{% block content %}

<section class="flex">
  <div class="max-w-[780px] relative">
    <h1 class="font-bold leading-[72.9px] tracking-tight text-[65px] z-10">
      Bienvenido {{ user.username.capitalize }} a Honey Bun
      <span class="text-[#FCC862]">Shop!</span>
    </h1>
    <p class="font-semibold text-[36.45px] text-[#424242] pt-[57px]">
      ¡Prepárate para sumergirte en un mundo de dulces descuentos y un servicio
      excelente y disciplinado como nuestras queridas abejas!
    </p>
  </div>
  <div class="Bee-Polygon">
    <img src="{% static "images/Honey bun shop character.png" %}" alt="">
  </div>
</section>

<div class="grid grid-cols-2 justify-center items-center m-auto gap-[700px]">
    <section class="max-w-[691px] m-auto pt-[88px] text-center">
        <h2 class="font-bold leading-[20px] pb-[10px] text-[#424242]">Ofertas Especiales</h2>
        <div class="flex flex-row gap-[43px]">
          {% for product in products %} 
          <article class="Small-Card bg-white text-center shadow-black/35 shadow-lg ">
            <img src="{{ product.ImageURL }}" alt="" />
            <h3 class="font-semibold text-[22px]">{{ product.name }}</h3>
            <h3 class="font-semibold text-[22px]">${{ product.price }}</h3>
            <div
              class="flex flex-row text-center content-center justify-between px-12 py-[20px]"
            >
              <button class="buttons">Ver</button>
              <button class="buttons flex flex-row items-center gap-[4px]">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 24 24"
                >
                  <g
                    fill="none"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  >
                    <path
                      d="M17 8V5a1 1 0 0 0-1-1H6a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1-1 1H6a2 2 0 0 1-2-2V6"
                    />
                    <path d="M20 12v4h-4a2 2 0 0 1 0-4z" />
                  </g></svg
                >Comprar
              </button>
            </div>
          </article>
          {% endfor %}
        </div>
      </section>
      <button class="buttons max-w-[200px] max-h-[65px]">Visitar Tienda</button>
</div>

<section class="pt-[75px]">
    <h2 class="font-bold leading-[20px] pb-[10px] text-[#424242]">Recomendaciones</h2>
    <div class="flex flex-row gap-[10px]">
        {% for product in products %} 
        <article class="Small-Card-Recomendation bg-white text-center shadow-black/35 shadow-lg ">
          <img src="{{ product.ImageURL }}" alt="" />
          <h3 class="font-semibold text-[22px]">{{ product.name }}</h3>
          <h3 class="font-semibold text-[22px]">${{ product.price }}</h3>
        </article>
        {% endfor %}
      </div>
</section>

{% endblock content %}
